// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use './theme-colors' as my-theme; // location of generated file


html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Bungee,
      density: 0,
    )
  );

  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}