<mat-card class="music-card" [ngClass]="{'artist-card': type() === 'artist'}">
    <div class="music-image-container">
        @if(type() === 'artist'){
        <div class="artist-image-container">
            <img [src]="item().cover" [alt]="item().name" class="artist-image">
        </div>
        }@else{
        <img mat-card-image [src]="item().cover" [alt]="item().name" class="card-image">
        }
        <button mat-icon-button aria-label="Play" class="play-button">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </div>


    <mat-card-content>
        <h3 class="card-title">{{item().name}}</h3>
        <p class="card-description">
            @if(type() === 'playlist'){
            {{item().description}}
            }
            @if(type() === 'album'){
            {{item().artist}}
            }
            @if(type() === 'artist'){
            Artista
            }
        </p>
    </mat-card-content>

</mat-card>